<div class="row">
  <div class="col-sm-1">

  </div>

  <div class="col-sm-10">
    <div class="col-sm-6">
      <div class="panel panel-default" ng-click="selectHand(handA)" ng-class="handAClass">
        <div class="panel-heading"><strong>Hand A</strong></div>
        <div class="panel-body">
          <table>
            <tr align="center">
              <img>
              <img
                ng-repeat="card in handA"
                height="102px"
                width="70px"
                ng-src="{{card.imageSrc}}"
                ng-click="removeCard(handA, card)"/>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default" ng-click="selectHand(handB)" ng-class="handBClass">
        <div class="panel-heading"><strong>Hand B</strong></div>
        <div class="panel-body">
          <table>
            <tr align="center">
              <img>
              <img
                ng-repeat="card in handB"
                height="102px"
                width="70px"
                ng-src="{{card.imageSrc}}"
                ng-click="removeCard(handB, card)"/>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <button ng-click="compareHands(handA, handB)">Compare</button>

      <br/>
      <br/>

      <div class="panel panel-default">
        <div class="panel-heading"><strong>Select Cards</strong></div>
        <div class="panel-body">
          <table>
            <tr align="center">
              <td>
                <img
                  ng-repeat="card in cards"
                  height="102px"
                  width="70px"
                  ng-src="{{card.imageSrc}}"
                  ng-model="card"
                  ng-click="addCard(card)"
                />
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-1">
  </div>
</div>
